<script src="/static/js/bundle.min.js"></script>

<footer>
    <div class="container">
	<div class="row">
	    <div class="col-md-12 col-sm-12">

		<div class="contact">
		    <!-- contact@writingprompts.io -->
		    writingprompts@startuplab.io
		</div>
		<div class="madeby">
		    Made by <a href="https://startuplab.io">Startup Lab</a>
		    <a href="https://github.com/raymestalez/writingprompts">
			<i class="fa fa-github"></i>
		    </a>      
		</div>
	    </div> <!-- End .col-md-12 -->
	</div> <!-- End .row -->
    </div> <!-- End .container -->

</footer>

</body>
</html>


