<script src="/static/js/bundle.min.js"></script>
<script src="/static/js/vendor/jquery.min.js"></script>
<script src="/static/js/vendor/tether.min.js"></script>
<script src="/static/js/vendor/bootstrap.min.js"></script>


<script>
$('.tabs li a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
})
</script>

<footer>
    <div class="container">
	<div class="row">
	    <div class="col-md-12 col-sm-12">

		<div class="contact">
		    contact@writingprompts.io
		</div>
		<div class="madeby">
		    Made by <a href="https://startuplab.io">Startup Lab</a>
		    <a href="https://github.com/raymestalez/screenplays">
			<i class="fa fa-github"></i>
		    </a>      
		</div>
	    </div> <!-- End .col-md-12 -->
	</div> <!-- End .row -->
    </div> <!-- End .container -->

</footer>

</body>
</html>


