<header>
    <div class="container">
	<div class="row">
	    <div class="col-md-12 col-sm-12">
		<a href="/" class="logo">
		    <!-- <div class="image">WP</div> -->
		    <img src="/static/img/logo_128x128.png"/>
		    WritingPrompts
		</a>
		<div class="main-menu dropdown">
		    <i class="fa fa-bars"></i>
		    <ul class="dropdown-menu" role="menu">
			<!-- 
			    <a id="toggleDarkInterface">
				<i class="fa fa-adjust"></i> Dark mode
			    </a>
			    -->
			    <a href="/prompts">
				<i class="fa fa-list"></i> Hot Prompts
			    </a>
			    <a href="/topauthors">
				<i class="fa fa-trophy"></i> Top Authors
			    </a>			    
			    <a href="/stories">
				<i class="fa fa-book"></i>  Top Stories
			    </a>
			    <!-- 
				 <a href="https://fictionhub.io/post/writing-resources/">
				 <i class="fa fa-book"></i> Screenwriting <br/> Resources
				 </a>
			       -->
		    </ul>			
		</div>
	    </div> <!-- End .col-md-12 -->
	</div> <!-- End .row -->
    </div> <!-- End .container -->
    
</header>
