<div id="help-modal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
	<div class="modal-content">
	    <div class="modal-header">
		<button type="button"
			class="close" data-dismiss="modal">&times;</button>	
		<h3>Help</h3>
	    </div>

	    <div class="modal-body">
		<p>Reading Hotkeys:</p>
		<p>'F' - fullscreen</p>
		<p>'S' - scroll; 'Q' - stop scrolling</p>
		<p>'D' - dark interface</p>
		<hr/>
		<p> Your last reading position is saved in the browser, so when you reload the page you can resume reading where you've left off.</p>
		<p>Submit scripts to submit@screenplays.io and feel free to contact me at contact@screenplays.io</p>
	    </div>
	</div>
    </div>
</div>	 <!-- End .modal -->



