<div class="row subscription-box"  id="subscription-box">
    <div class="col-xs-12">
	<div class="panel panel-default">
	    <div class="panel-body">
		<div class="col-xs-12 col-md-6 description">
		    Receive the top stories in our weekly digest!
		</div> <!-- End col-xs-12 -->

		<div class="col-xs-12 col-md-6 form">
		    <form class="subscription-form"
			  action="https://startuplab.us7.list-manage.com/subscribe/post?u=0f23c7984541d915d1108a16e&amp;id=2d18ec56d0" method="post" target="_blank" novalidate>
			<input type="email" name="EMAIL"
			       class="form-control" placeholder="email" />
			<input name="SRC" type="hidden" id="subscription-box" />
			<input name="OPTINLOC" type="hidden" value="screenplays" />
			<input type="hidden"
			       name="b_0f23c7984541d915d1108a16e_2d18ec56d0"
			       tabindex="-1" value="">	    
			<button class="btn btn-default" type="submit">
			    Subscribe
			</button>
		    </form>
		</div> <!-- End .col-xs-12 -->
	    </div> <!-- End .col-md-12 col-sm-12 -->
	</div> <!-- End .panel -->
    </div> <!-- End .col-md-12 -->
</div> <!-- End .subscription-box -->


