/* General */
/* line 2, ../sass/_general.scss */
* {
  color: rgba(0, 0, 0, 0.8);
}

/* line 6, ../sass/_general.scss */
body {
  background: #f6f3ea;
  min-height: 100vh;
}

/* line 11, ../sass/_general.scss */
.page {
  min-height: calc(100vh - 60px);
}

/* line 16, ../sass/_general.scss */
::-webkit-scrollbar {
  width: 10px;
}

/* line 20, ../sass/_general.scss */
::-webkit-scrollbar-track {
  background-color: #F2F2F2;
}

/* line 24, ../sass/_general.scss */
::-webkit-scrollbar-thumb {
  background-color: rgba(110, 110, 110, 0.2);
}

/* Bootstrap customize */
/* Remove padding on mobile */
/* line 31, ../sass/_general.scss */
.container {
  max-width: 800px;
}
@media (max-width: 1024px) {
  /* line 31, ../sass/_general.scss */
  .container {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  /* line 38, ../sass/_general.scss */
  .col-md-12, .col-sm-12 {
    padding: 0;
  }
}

/* line 45, ../sass/_general.scss */
.btn {
  color: white;
  border: none;
  padding: 10px 20px;
}
/* line 49, ../sass/_general.scss */
.btn:hover, .btn:active, .btn:focus, .btn:visited {
  color: white;
  outline: none;
  box-shadow: none;
}

/* Helpers */
/* line 58, ../sass/_general.scss */
.left {
  float: left;
}

/* line 62, ../sass/_general.scss */
.right {
  float: right;
}

/* line 65, ../sass/_general.scss */
.centered {
  margin: auto;
}

/* line 68, ../sass/_general.scss */
.center-text {
  text-align: center;
}

/* line 71, ../sass/_general.scss */
.hidden {
  display: none;
}

/* line 75, ../sass/_general.scss */
.bold {
  font-weight: bold;
}

/* Typography */
/* line 81, ../sass/_general.scss */
h1, h2, h3, h4 {
  margin: 0;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.8);
}

/* line 87, ../sass/_general.scss */
h1 {
  font-size: 32px;
  font-weight: bold;
  border-bottom: 1px solid #dddddd;
  line-height: 50px;
  margin-top: 0;
}

/* line 94, ../sass/_general.scss */
h2 {
  font-size: 24px;
  font-weight: bold;
}

/* line 101, ../sass/_general.scss */
a {
  color: #008cba;
  cursor: pointer;
}
/* line 104, ../sass/_general.scss */
a:hover, a:active, a:focus, a:visited {
  text-decoration: none;
  color: #008cba;
}

/* line 111, ../sass/_general.scss */
article {
  font-size: 18px;
}

/* line 114, ../sass/_general.scss */
p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* line 119, ../sass/_general.scss */
.btn-default {
  background: #008cba;
}
/* line 121, ../sass/_general.scss */
.btn-default:hover, .btn-default:active {
  background: #008cba;
}
/* line 125, ../sass/_general.scss */
.btn-default i {
  color: white;
}

/* line 129, ../sass/_general.scss */
.btn-cta {
  font-family: "Lato";
  font-size: 32px;
  font-weight: bold;
  padding: 20px 40px;
  margin: 0;
  width: 100%;
  background: #eb5d00;
  color: #fff;
  font-weight: 300;
  background: linear-gradient(to bottom, #ff6500, #f84200);
  background: linear-gradient(to bottom, #0086ff, #006cf8);
  /*blue*/
  background: #4799eb;
  box-shadow: 0 0 30px 2px rgba(34, 34, 34, 0.5);
  white-space: normal;
}
/* line 145, ../sass/_general.scss */
.btn-cta:hover, .btn-cta:active, .btn-cta:focus, .btn-cta:visited {
  background: linear-gradient(to bottom, #ff6500, #f84200);
  background: linear-gradient(to bottom, #0086ff, #006cf8);
  /*blue*/
  background: #4799eb;
  box-shadow: 0 0 30px 2px rgba(34, 34, 34, 0.5);
}

/* line 153, ../sass/_general.scss */
.btn-outline {
  border: 1px solid #274059;
}

/* Dropdown */
/* line 162, ../sass/_general.scss */
.dropdown li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

/* line 168, ../sass/_general.scss */
.dropdown:hover .dropdown-menu {
  display: block;
  min-width: 100%;
  background: none;
  right: 0;
  border: none;
  width: auto;
  left: -100px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
/* line 177, ../sass/_general.scss */
.dropdown:hover .dropdown-menu a {
  display: block;
  background: white;
  padding: 10px;
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
/* line 182, ../sass/_general.scss */
.dropdown:hover .dropdown-menu a i {
  margin-right: 5px;
}

/* line 191, ../sass/_general.scss */
.alert {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  padding: 22px;
  text-align: center;
  font-size: 18px;
}

/* Footer */
/* line 202, ../sass/_general.scss */
footer {
  height: 40px;
  margin-top: 20px;
  padding: 10px 10px;
  background-color: #333a42;
}
/* line 207, ../sass/_general.scss */
footer .contact {
  color: #babfc2;
  float: left;
}
/* line 211, ../sass/_general.scss */
footer .madeby {
  color: #babfc2;
  float: right;
}
/* line 215, ../sass/_general.scss */
footer a, footer i {
  color: #babfc2 !important;
  font-weight: bold;
}

/* Css magic that keeps images 16x9, background in the center. */
/* line 223, ../sass/_general.scss */
.image-wrapper {
  width: 100%;
  position: relative;
}
/* line 227, ../sass/_general.scss */
.image-wrapper:after {
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}
/* line 233, ../sass/_general.scss */
.image-wrapper .thumbnail {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-position: 50% 50%;
  background-size: cover;
  margin: 0;
  border: none;
  background-color: #f6f3ea;
}

/* line 13, ../sass/style.scss */
header {
  background: white;
  padding: 10px 0;
  position: relative;
}
/* line 17, ../sass/style.scss */
header .logo {
  color: rgba(0, 0, 0, 0.8);
  font-size: 22px;
  line-height: 40px;
}
/* line 21, ../sass/style.scss */
header .logo .image {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin: 0px 10px 0 0;
  background: #5e5796;
  text-align: center;
  line-height: 40px;
  color: white;
}
@media (max-width: 500px) {
  /* line 21, ../sass/style.scss */
  header .logo .image {
    display: none;
  }
}
/* line 39, ../sass/style.scss */
header .search-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  width: 40px;
  border: none;
  background: none;
  opacity: 0.4;
}
/* line 50, ../sass/style.scss */
header .main-menu {
  float: right;
  border: 1px solid rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
/* line 54, ../sass/style.scss */
header .main-menu .fa-bars {
  line-height: 40px;
  width: 40px;
  font-size: 22px;
  text-align: center;
}

/* line 66, ../sass/style.scss */
.modal-dialog {
  margin-top: 140px;
}
/* line 68, ../sass/style.scss */
.modal-dialog .close {
  position: absolute;
  right: 20px;
}

/* line 75, ../sass/style.scss */
.subscription-form {
  /* Email input */
  /* Subscribe button */
}
/* line 77, ../sass/style.scss */
.subscription-form input {
  height: 40px;
  float: left;
  width: calc(100% - 120px);
}
/* line 84, ../sass/style.scss */
.subscription-form .btn-default {
  background: #f66303;
  color: white;
  height: 40px;
  float: left;
  width: 120px;
}

/* line 93, ../sass/style.scss */
.subscription-box {
  margin-top: 20px;
}
/* line 95, ../sass/style.scss */
.subscription-box .description {
  padding: 19px 5px;
  font-weight: bold;
}
@media (max-width: 768px) {
  /* line 95, ../sass/style.scss */
  .subscription-box .description {
    padding: 0px 5px;
    padding-top: 10px;
    text-align: center;
  }
}
/* line 104, ../sass/style.scss */
.subscription-box .form {
  padding: 10px 5px;
}
/* line 107, ../sass/style.scss */
.subscription-box .panel {
  margin-bottom: 0;
}
/* line 110, ../sass/style.scss */
.subscription-box .panel-body {
  padding: 5px 10px;
}

/* line 117, ../sass/style.scss */
.page {
  min-height: calc(100vh - 120px);
}
/* line 120, ../sass/style.scss */
.page .post-boxes {
  margin-right: -20px;
}
@media (max-width: 500px) {
  /* line 120, ../sass/style.scss */
  .page .post-boxes {
    margin-right: 0px;
  }
}
/* line 127, ../sass/style.scss */
.page .post-box {
  float: left;
  width: calc(33.33% - 20px);
  margin-right: 20px;
  margin-top: 0px;
  padding: 0;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  /* thumbnail image style is in _general.scss */
}
@media (max-width: 500px) {
  /* line 127, ../sass/style.scss */
  .page .post-box {
    width: 100%;
    margin-right: 0px;
  }
}
/* line 145, ../sass/style.scss */
.page .post-box .description {
  padding: 10px;
  height: 120px;
}
/* line 148, ../sass/style.scss */
.page .post-box .description h2 {
  font-size: 20px;
}
/* line 151, ../sass/style.scss */
.page .post-box .description p {
  font-size: 16px;
}

/* line 159, ../sass/style.scss */
article {
  background: white;
  padding: 20px;
  margin-top: 10px;
  border: 1px solid #dddddd;
}
@media (max-width: 500px) {
  /* line 159, ../sass/style.scss */
  article {
    padding: 10px;
  }
}
/* line 169, ../sass/style.scss */
article a {
  color: rgba(0, 0, 0, 0.8);
}
/* line 173, ../sass/style.scss */
article .footer {
  margin: 10px -20px 0 -20px;
  font-size: 14px;
  padding: 5px 20px;
  background-color: #fcfcfc;
  border-top: 1px solid #e8e8e8;
}
/* line 179, ../sass/style.scss */
article .footer a {
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.8);
}

/* line 186, ../sass/style.scss */
.prompt {
  padding: 10px 20px 0 20px;
}

/* line 189, ../sass/style.scss */
.story {
  padding: 40px 20px 0 20px;
}

/* line 194, ../sass/style.scss */
.topauthors .dropdown .dropdown-menu, .stories .dropdown .dropdown-menu {
  left: 0;
}

/* line 199, ../sass/style.scss */
.prompt-generator .nav-tabs > li.active > a {
  color: #31312f;
}
/* line 202, ../sass/style.scss */
.prompt-generator .tab-pane {
  background: white;
  padding: 20px;
  border: 1px solid #dddddd;
  border-top: none;
}
/* line 207, ../sass/style.scss */
.prompt-generator .tab-pane p {
  font-size: 18px;
}
/* line 210, ../sass/style.scss */
.prompt-generator .tab-pane h4 {
  font-weight: bold;
  margin: 0;
}
/* line 213, ../sass/style.scss */
.prompt-generator .tab-pane h4 i {
  background: #008cba;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  text-align: center;
  line-height: 28px;
  color: white;
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: -10px;
  font-size: 18px;
  padding: 1px;
}
/* line 227, ../sass/style.scss */
.prompt-generator .tab-pane img {
  width: 100%;
}

/* line 233, ../sass/style.scss */
.cta {
  padding: 20px 40px;
  margin-top: 20px;
  margin-bottom: 0;
}
/* line 237, ../sass/style.scss */
.cta p, .cta li {
  font-size: 18px;
}
/* line 240, ../sass/style.scss */
.cta p {
  padding-bottom: 0;
}
