/* General */
* {
    color: $text;
}

body  {
    background: $background;
    min-height:100vh;
}

.page {
    min-height: calc(100vh - 60px);
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
      background-color: #F2F2F2;
}
 
::-webkit-scrollbar-thumb {
    background-color: rgba(110, 110, 110, 0.2);
}


/* Bootstrap customize */
/* Remove padding on mobile */
.container {
    max-width: 800px;
    @media  (max-width: 1024px) {
	max-width: 100%;
	width: 100%;
    }
}
.col-md-12, .col-sm-12 {
    @media  (max-width: 1024px) {
	padding: 0;
    }
}    


.btn {
    color: white;
    border: none;
    padding: 10px 20px;
    &:hover, &:active, &:focus, &:visited {
	color: white;
	outline:none;
	box-shadow:none;
    }
}


/* Helpers */
.left {
    float: left;
}

.right {
    float: right;
}
.centered {
    margin: auto;
}
.center-text {
    text-align: center;
}
.hidden {
    display: none;
}

.bold {
    font-weight: bold;
}


/* Typography */
h1, h2, h3, h4 {
    margin: 0;
    margin-bottom: 10px;
    color: $text;
}

h1 {
    font-size: 32px;    
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
    line-height: 50px;
    margin-top: 0;
}
h2 {
    font-size: 24px;
    font-weight: bold;		
}



a {
    color: $link;
    cursor: pointer;
    &:hover, &:active, &:focus, &:visited {
	text-decoration: none;
	color: $link;	
    }
}


article {
        font-size: 18px;
}
p {
    font-size: 18px;
    margin-bottom:20px;
}

.btn-default {
    background: #008cba;
    &:hover,
    &:active {
	background: #008cba;
    }
    i {
	color: white;
    }
}
.btn-cta {
	font-family: "Lato";
	font-size: 32px;
	font-weight: bold;
	padding: 20px 40px;
	margin: 0;
	width: 100%;
	background: #eb5d00;
	color: #fff;
	font-weight: 300;
	background: linear-gradient(to bottom, #ff6500, #f84200);
	background: linear-gradient(to bottom, #0086ff, #006cf8); /*blue*/
	background: #4799eb;
	box-shadow: 0 0 30px 2px rgba(34, 34, 34, 0.5);
	white-space: normal;

	&:hover, &:active, &:focus, &:visited {
       background: linear-gradient(to bottom, #ff6500, #f84200);
	   background: linear-gradient(to bottom, #0086ff, #006cf8); /*blue*/
	   background: #4799eb;	
	   box-shadow: 0 0 30px 2px rgba(34, 34, 34, 0.5);
    }
}

.btn-outline {
    border: 1px solid #274059;
}

.btn-primary {
    
}
/* Dropdown */
.dropdown {
    li {
	border-bottom: 1px solid rgba(0,0,0,.15);
    }
}


.dropdown:hover .dropdown-menu {
    display: block;
    min-width: 100%;
    background: none;
    right: 0;
    border: none;
    width: auto;
    left: -100px;
    border: 1px solid rgba(0,0,0,0.15);
    a {
	display: block;
	background: white;
	padding: 10px;
	color: $black;
	i {
	    margin-right: 5px;
	}
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }
}



.alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    padding: 22px;
    text-align: center;
    font-size: 18px;    
}
/* Footer */
footer {
    height: 40px;
    margin-top: 20px;
    padding: 10px 10px;
    background-color: #333a42;
    .contact {
	color: #babfc2;
	float:left;
    }
    .madeby {
	color: #babfc2;
	float: right;
    }
    a, i {
	color: #babfc2!important;
	font-weight: bold;
    }
}


/* Css magic that keeps images 16x9, background in the center. */
.image-wrapper {
    width: 100%;
    position: relative;

    &:after {
	padding-top: 56.25%; /* 16:9 ratio */
	display: block;
	content: '';
    }	
    
    .thumbnail {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;	    
	background-position: 50% 50%;
	background-size: cover;

	margin: 0;
	border: none;
	background-color: $background;
    }    
}
